<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.envios.kitabisa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/popcorn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/popcorn"
        android:supportsRtl="true"
        android:name=".KitabisaApp"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.detail.DetailActivity" />
        <activity android:name=".ui.main.MainActivity" >

        </activity>
        <activity android:name=".ui.favorite.FavoriteActivity" />
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>